---
layout: default
title: Gallery
---
{%- comment -%} Using https://github.com/sachinchoolur/lightgallery.js for the gallery box {%- endcomment -%}

<main>
  <script src="/assets/js/lightgallery.min.js"></script>
  <script src="/assets/js/lg-pager.min.js"></script>
  <script src="/assets/js/lg-share.min.js"></script>
  <script src="/assets/js/lg-thumbnail.min.js"></script>

  {%- comment -%} Loop through all galleries in the site {%- endcomment -%}
  <div id="multigallerycontainer">
    {% for gallery in site.gallery %}
      
      {% include gallery.html gallery=gallery url=true summary=true %}
        
      <hr />
    {% endfor %}
  </div>

</main>