---
layout: home
title: Home
---

<main>
  
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><mark class="text-light py-0">{{ site.title }}</mark></h1>
      <p class="mb-5"><mark  class="text-light px-3">{{ site.subtitle }}</mark></p>
      <p><a class="btn btn-lg btn-danger" href="{{ "/about.join.html" | absolute_url }}" role="button">Join today!</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {% include news-list.html %}
      </div>

      <div class="col-md-4">
        <h2 class="mb-3">Upcoming events</h2>
        <ol class="list-unstyled">
          
        </ol>
        <a href="#">All events &raquo;</a>
      </div>

      <aside class="col-md-4">
        
        <div class="p-4 mb-3 bg-light rounded">
          <img src="{{ "/assets/img/logo-2000-class-association.png" | absolute_url }}" class="img-fluid mb-5" alt="2000 dinghy logo">
          <p>The <i>2000 Class Association</i> is made up of 2000-dinghy sailors. The 2000, formerly known as the Laser 2000, is an entry-level performance assymetric sailing dinghy. It is equally suitable for cruisers, families as well as serious racers.</p>
          <p>The association organises racing series, training and other events throughout the UK.</p>
          <p>Do you sail a 2000? <a href="{{ "/about.join.html" | absolute_url }}">Become a member today</a>.</p>
        </div>

        <div class="p-4">
          {% include social-list.html %}
        </div>

      </aside>

    </div>
    <hr>
  </div>

</main>