<h2>News and articles</h2>
<p class="mb-3"><a href="{{ "/feed.xml" | absolute_url }}">Subscribe to this news feed</a></p>

{% for post in site.posts %}
  <div class="card mb-3">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: '%e %b %Y' }}</h6>
      <h5 class="card-title"><a href="{{ post.url | absolute_url }}" >{{ post.title }}</a></h5>
      {{ post.excerpt }}
      <a href="{{ post.url | absolute_url }}" class="card-link">Read more &raquo;</a>
    </div>
  </div>
{% endfor %}

<a href="{{ "/news.html" | absolute_url }}">More news and articles &raquo;</a>