<nav class="list-group mt-4">
  {% for item in site.data.navigation %}

    <a class="list-group-item list-group-item-action{% if item.link == page.url %} active{% endif %}" href="{{ item.link | absolute_url }}">{{ item.name }}</a>

    {% if item.link == page.url %}
      {% for subitem in item.items %}
        <a class="list-group-item list-group-item-action list-group-item-secondary{% if subitem.link == page.url %} active{% endif %}" href="{{ subitem.link | absolute_url }}">{{ subitem.name }}</a>
      {% endfor %}
    {% endif %}

    {% for subitem in item.items %}
      {% if subitem.link == page.url %}
        {% for subitem in item.items %}
          <a class="list-group-item list-group-item-action list-group-item-secondary{% if subitem.link == page.url %} active{% endif %}" href="{{ subitem.link | absolute_url }}">{{ subitem.name }}</a>
        {% endfor %}
      {% endif %}
    {% endfor %}

  {% endfor %}
</nav>
