{%- assign venue = site.venues | where:"path", include.path | first -%}
{%- if venue.lat and venue.lon -%}

<div id="nautical-chart" class="mb-3"></div>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<link rel="stylesheet" href="https://webapiv2.navionics.com/dist/webapi/webapi.min.css" >
<script src="https://webapiv2.navionics.com/dist/webapi/webapi.min.no-dep.js"></script>

<script>
var map = L.map('nautical-chart');
map.setView([ {{ venue.lat }}, {{ venue.lon }} ], 14);
var overlay = new JNC.Leaflet.NavionicsOverlay({
  navKey: '{{ site.chart_key }}',
  chartType: JNC.NAVIONICS_CHARTS.NAUTICAL,
  isTransparent: false
});
overlay.addTo(map);
var marker = L.marker([ {{ venue.lat }}, {{ venue.lon }} ]).addTo(map);
marker.bindPopup("{{ venue.title }}").openPopup();
</script>

{%- endif -%}
