#multigallerycontainer .gallery {
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
}
.gallerycontainer {
    padding: 2%;
}
.gallerycontainer .backlink {
    font-size: 0.8em;
}
.gallerycontainer a:hover {
    text-decoration: none;
}
.gallery {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    gap: 2%;
    align-items: center;
}
.gallery img {
    max-width: 100%;
    cursor: pointer;
}
.gallery .caption {
    display: grid;
    grid-template-columns: auto fit-content(30%);
}
.gallery .citation {
    color: #686868;
    font-size: 0.8em;
    text-align: right;
}
.strongCaption {
    font-weight: 600;
}

.fullGalleryLink {
    grid-column: 1 / 4;
}