html {
  font-size: 0.85rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 3.5rem;
}

.jumbotron {
  background: url('../img/boats.jpg');
  background-position: center bottom; 
  color: white;
  padding-bottom: 0.5rem;
}

mark {
  background-color: rgba(0, 0, 0, 0.25);
}

main {
  p {
    img {
      max-width: 100%;
    }
  }
}
