<ul class="list-unstyled">
  <span class="page-count">Page {{ include.eventsPaginator.page }} of {{ include.eventsPaginator.total_pages }}</span>

  {% for event in include.eventsPaginator.posts %}
  
  {% assign venue = site.venues | where: "venue.path", event.venue | first %}
  <pre>
  </pre>
    <li>
      <h3 class="text-muted">{% include daterange.html from=event.date to=event.date_end %}, {{ venue.title }}</h3>
      <h2><a href="{{ event.url | absolute_url }}">{{ event.title }}</a></h2>
      {{ event.content | markdownify }}
      <a href="{{ event.url | absolute_url }}">More info &raquo;</a>
      <a href="#">Register &raquo;</a>
      <hr>
    </li>
  {% endfor %}
  {% include paginationNav.html navPaginator=include.eventsPaginator %}

</ul>
